<!doctype html>
<html>
<head>
  <title>Madlib Game</title>
</head>
<body>

  <form action="/madlib"><p>
    Sweet, Let's make a Madlib!</p> 
    <div>
    <label>Give me a person's name:</label>
    <input type="text" name="gameperson">
    </div>
    <div>
    <label>Write down any color:</label>
    <input type="text" name="gamecolor">
    </div>
    <div>
    <label>Choose any noun:</label>
    <input type="text" name="gamenoun">
    </div>
    <div>
        <label>Finally, tell me an adjective:</label>  
        <input type="text" name="gameadjective">
    </div>
    <div>
    <input type="submit"> 
    </div>
  </form>

</body>
</html>