<!doctype html>
<html>
<head>
  <title>Madlib Game</title>
</head>
<body>

  <form action="/madlib">
    Sweet, Let's make a Madlib! 
    <label>Give me a person's name:</label>
    <input type="text" name="gameperson">
    <label>Write down any color:</label>
    <input type="text" name="gamecolor">
    <label>Choose any noun:</label>
    <input type="text" name="gamenoun">
    <label>Finally, tell me an adjective:</label>
    <input type="text" name="gameadjective">
    <input type="submit"> 
  </form>

</body>
</html>