<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What a Madlib!!!! Great job!</title>
</head>
<body>
    <p>Once, not so long ago, there was a righteous human named {{ gameperson }}.
    One day, following down a mysterious {{ gamecolor }} path, {{ gameperson }}
    stumbled upon a {{ gamenoun }} on a {{ gamecolor }} hill. Alas, the {{ gamenoun }}
    was {{ gameadjective }} and slowly turned {{ gamecolor }} as well! {{ gameperson }}
    was shocked as they too slowly turned {{ gamecolor }}!</p>
</body>
</html>