<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What a Madlib!!!! Great job!</title>
    <style>
        p,
        div {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: darkslategrey;
        }
        body {
        background-color: {{ gamecolor }};
        }
        #main {
        background-color: lightsteelblue;
        width: 60%;
        height: 400px;
        margin: auto;
        border: 3px solid darkslategrey;
        padding: 10px;
        }
    </style>
</head>
<body>
    <div id="main">
    <p>Once, not so long ago, there was a righteous human named {{ gameprefix }}
    {{ gameperson }}.
    One day, following down a mysterious {{ gamecolor }} path, {{ gameperson }}
    stumbled upon a {{ gamenoun }} on a {{ gamecolor }} hill. Alas, the {{ gamenoun }}
    was {{ gameadjective }} and seemed like it was living! And dangerous! {{ gameprefix }}
    {{ gameperson }} looked around the {{ gamecolor }} hill and found a mysterious {{ gameweapon }}.
    However, as {{ gameprefix }} {{ gameperson }} was about to hit the dangerous {{ gamenoun }}
    with the {{ gameweapon }}, the now very angry {{ gamenoun }} let out a cry!
    The living {{ gamenoun }} was crying out of hunger!</p>
    <p>Alas, {{ gameprefix }} {{ gameperson }} put down the {{ gameweapon }} and reached in
        a backpack for a {{ gamedessert }} and gave it
        to the hungry {{ gamenoun }} The hungry, {{ gameadjective }}, and dangerous {{ gamenoun }}

    was no longer dangerous. In all this commotion, {{ gameprefix }} {{ gameperson }} reached back
    down to acquire the {{ gameweapon }} to continue their journey when {{ gameprefix }} {{ gameperson }} 
    realized their feet were slowly turning {{ gamecolor }} as well!</p>
    <p>{{ gameprefix }} {{ gameperson }} knew they had to continue their journey before
        they turned {{ gamecolor }} permanently like the {{ gameadjective }} {{ gamenoun }}!
    </p>
    </div>
</body>
</html>